body {
  bor der:1px solid red;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}
header{
  font-family: 'Roboto', sans-serif;
}
.header_top {
  background-color: #55AC14;
}
.container {
  bo rder:1px solid #FF8900;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.header_qest {
  float: right;
  line-height: 36px;
  color: white;
  background-color: #79553d;
  padding: 5px 20px 4px 50px;
  font-size: 16px;
  letter-spacing: 0.35px; /* расстояние между буквами */
  position: relative;
}
.header_contacts:after{
  content: "";
  clear: both;
  display: block;
}
.header_phone,
.header_mail  {
  color: white;
  letter-spacing: 0.35px; /* расстояние между буквами */
  line-height: 45px;
  position: relative;
  margin-right: 17px;
}
.header_phone{
  padding-left: 20px;
  padding-right: 30px;
}
.header_phone:before{
  content: "\f095";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
}
.header_mail:before{
  content: "\f003";
  font-family: 'icomoon';
  position: absolute;
  left:-22px;
}
.header_qest:before{content: "\f0b1"; font-family: 'icomoon'; position: absolute; left:20px; }
.header_content{
  padding: 10px 0px 10px;
}
.header_content-inner{
  display: flex;
  justify-content: center;
}
.menu li{
  display: inline-block;
}
.menu a{
  color: #323232;
  font-size: 21px;
  line-height: 30px;
  border: 1.5px solid transparent;
  margin: 0 17px;
  padding: 0 15px;
  transition: all .5s;
}
.menu a:hover{
border-color: #55AC14;
border-radius: 7px;
}
#animatedModal {
  display: none;
}



/* ШАПКА ФОН*/

.slider{
  background-image: url(../img/slider-fon1.jpg);
  background-repeat: no-repeat; /* чтобы не размножалась картинка*/
  background-size: cover; /* растягивать картинку*/
  background-position: center;
  min-height: 650px;
  position: relative;
}
#photo {position: absolute; top: 150px; left: 500px; margin: 0 auto;  }
li {
	list-style-image: url(../img/arrow.png);
}



/* ***********ПОД ШАПКА ФОН    ПОД ШАПКА ФОН      ПОД ШАПКА ФОН    ПОД ШАПКА ФОН***********  */

.about{
  padding: 50px 0 30px;
}
.about_top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.about_title-box {
  max-width: 600px;
  padding-left: 100px;
  position: relative;
}
.about_title-box:before{
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  left: 0;
  background-color: #55AC14;
  top: 15px;
}
.about_title{
  font-size: 28px;
  font-weight: 500px;
  line-height: 32px;
  font-family: 'Roboto', sans-serif;
  color: #212020;
  margin-bottom: 10px;
}
.about_text{
  letter-spacing: 0.1px;
}
.about_waste{
  border: 2px solid #55AC14;
  padding: 10px 10px;
  height: min-content;
  border-radius: 7px;
}
.about img {
margin-bottom: -8px;
margin-right: -6px;
}
.about_btn{
  color: #323232;
  font-size: 39px;
  line-height: 39px;
  letter-spacing: 4px;
  padding: 10px 10px;
  height: min-content;
  border-radius: 7px;
}
.about_items{
  display: flex;
  justify-content: space-between;
}
.about_item img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.about_item{
  max-width: 360px;
  padding: 15px 0 40px;
  position: relative;
  min-height: 345px;
  border-radius: 10px;
  box-shadow: 0px 7px 24.3px 2.7px #B4F5A9;
}
.about_item-title{
  color: #210202;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.about_item-text{
  letter-spacing: 0.1px;
  padding: 0 30px 30px;
}
.about_item-btn a{
  position: absolute;
  bottom: 35px;
  left: 20px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #050505;
  color: #050505;
}
