.header {
    font-family: "Roboto", sans-serif;
    &__top {
        background-color: #55ac14;
    }
    &__contacts {}
    &__concats:after {
        content: "";
        clear: both;
        display: block;
    }
    &__phone {
        color: white;
        letter-spacing: 0.35px;
        /* расстояние между буквами */
        line-height: 45px;
        position: relative;
        margin-right: 17px;
        padding-left: 20px;
        padding-right: 30px;
    }
    &__phone::before {
        content: "\f095";
        font-family: "icomoon";
        position: absolute;
        left: 0;
    }
    &__mail {
        color: white;
        letter-spacing: 0.35px;
        /* расстояние между буквами */
        line-height: 45px;
        position: relative;
        margin-right: 17px;
    }
    &__mail::before {
        content: "\f003";
        font-family: "icomoon";
        position: absolute;
        left: -22px;
    }
    &__qest {
        float: right;
        line-height: 36px;
        color: white;
        background-color: #79553d;
        padding: 5px 20px 4px 50px;
        font-size: 16px;
        letter-spacing: 0.35px;
        text-decoration: none;
        /* расстояние между буквами */
        position: relative;
    }
    &__qest::before {
        content: "\f0b1";
        font-family: "icomoon";
        position: absolute;
        left: 20px;
    }
    &__content {
        padding: 10px 0px 10px;
    }
    &__content-inner {
        display: flex;
        justify-content: center;
    }
    &__qest-menu {
        display: none;
        font-size: 28px;
    }
}

.container {
    // border: 1px solid #ff8900;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu {
    &__link {
        color: #323232;
        font-size: 21px;
        line-height: 30px;
        border: 1.5px solid transparent;
        margin: 0 17px;
        padding: 0 15px;
        transition: all .5s;
        text-decoration: none;
    }
    &__link:hover {
        border-color: #55AC14;
        border-radius: 7px;
    }
}

.menu li {
    display: inline-block;
}

.icon-bars {}

#animatedModal {
    display: none;
}

#animatedModal {
    width: 300px;
}

#animatedModal input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#animatedModal input[type="submit"] {
    background-color: #71BB2F;
    border: none;
}