.slider {
    background-image: url(../img/slider-fon1.jpg);
    background-repeat: no-repeat;
    /* чтобы не размножалась картинка*/
    background-size: cover;
    /* растягивать картинку*/
    background-position: center;
    min-height: 650px;
    position: relative;
    &__image {
        position: absolute;
        top: 150px;
        left: 500px;
        margin: 0 auto;
    }
}